<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.2.xsd">

<context:component-scan base-package="org.oLabDynamics.client" />

<!-- Rest Template -->  
 <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
 	<property name="messageConverters">
	<list>
	<!-- <ref bean="marshallingConverter" />
	<ref bean="atomConverter"  /> -->
	<ref bean="jsonConverter" />
	</list>
	</property>
	<property name="errorHandler"  ref="errorHandler"/>
 </bean>  
 
 <bean id="errorHandler" class="org.oLabDynamics.client.ResponseErrorHandler"/>

 <bean id="jsonConverter" 
            class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
   <property name="supportedMediaTypes" value="application/json" />
</bean>

<bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="location" value="classpath:execAndShare.properties"/>
</bean>

<bean id="execShare" class="org.oLabDynamics.client.impl.ExecShareImpl">
</bean>

<bean id="execShareConnexionFactory" class="org.oLabDynamics.client.ExecShareConnexionFactory">
		<property name="serverEntryPointsList" value="${execAndShare.serverEntryPointsList}"/>
		<property name="userName" value="${execAndShare.userName}"/>
		<property name="password" value="${execAndShare.password}"/>
</bean>
    
 <!-- Register JSON Converter for RESTful Web Service -->  
 <!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
         <property name="messageConverters">  
                 <list>  
                     <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">  
                </bean></list>  
        </property>  
 </bean>   -->

</beans>
